h3 Liste des utilisateurs

table(border=1)
  tr
    th ID
    th Pseudo
    th Firstname
    th Lastname
    th Email
    th MDP

  each user in users
    tr
      td= user.id
      td= user.pseudo
      td= user.firstname
      td= user.lastname
      td= user.email
      td= user.password